<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main>
        <center>
            <h1 style="font-size: 6em;">404</h1>
            <h3>It seems this page does not exist.</h3>
        </center>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>