<!DOCTYPE html>
<html lang="en">
<%- include("./partials/headAlt.ejs")  %> 
<body>
    <%- include("./partials/header.ejs") %>
    <main>
        <div class="login-page">
            <div class="form">
                <p><%- message %> </p>
                <br>
                <form action="/change-password" method="POST" class="login-form">
                    <input type="password" name="oldPass" id="oldPass" placeholder="Current Password"required />
                    <input type="password" name="newPass" id="newPass"  placeholder="New Password" required />
                    <button type="submit">Change Password</button>
                </form>
            </div>
          </div>
    </main>
    <%- include("./partials/footer.ejs") %>
    <script>
        window.history.pushState("", "", '/');
    </script>
</body>
</html>