<!DOCTYPE html>
<html lang="en">
<%- include("./partials/headAlt.ejs")  %> 
<body>
    <header><h2>MyHostel</h2></header>
    <main>
        <div class="login-page">
            <div class="form">
                <p><%- message %> </p>
                <br>
                <form action="/" method="POST" class="login-form">
                    <input type="text" name="regno" id="RegNo" placeholder="Registration Number"required />
                    <input type="password" name="password" id="password"  placeholder="password" required />
                    <button type="submit">login</button>
                </form>
            </div>
          </div>
          <img src="../images/vector1.svg" id="background-banner-image-1"/>
    </main>
    <%- include("./partials/footer.ejs") %>
    <script>
        window.history.pushState("", "", '/');
        document.body.addEventListener("keydown", function (event) {
        if (event.keyCode === 27) {
            window.location.replace("/admin");
        }
    });
    </script>
</body>
</html>